<button class="back-button" (click)="goBack()">Retour</button>

<div class="category-container">
  <h1>Produits de la catégorie</h1>

  <div class="filters">
    <label>
      Prix maximum :
      <input type="number" [(ngModel)]="maxPrice" (input)="applyFilters()" />
    </label>

    <label>
      Rechercher :
      <input
        type="text"
        [(ngModel)]="searchQuery"
        (input)="applyFilters()"
        placeholder="Rechercher un produit..."
      />
    </label>
  </div>

  <div class="sorting">
    <button (click)="sortProducts('asc')">Prix croissant</button>
    <button (click)="sortProducts('desc')">Prix décroissant</button>
  </div>

<div class="product-grid">
    <div class="product-card" *ngFor="let product of paginatedProducts">
      <img [src]="product.image" [alt]="product.name" class="product-image" />
      <h5>{{ product.name }}</h5>
      <p>{{ product.price }}€</p>
      <button class="btn btn-primary" routerLink="/product/{{ product.id }}">Voir</button>
    </div>
  </div>
  

<div class="pagination">
  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="changePage(i + 1)"
    [class.active]="currentPage === i + 1"
  >
    {{ i + 1 }}
  </button>
</div>
