.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 100%;
}
  
.product-card {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
  
  .product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .product-image {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
  }
  
  
  button {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }

  .pagination {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    gap: 10px; /* Espacement entre les boutons */
    margin-top: 20px; /* Marge pour espacer de l'élément précédent */
  }
  
  .pagination button {
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .pagination button.active {
    background-color: #0056b3; /* Couleur différente pour le bouton actif */
  }
  
  .pagination button:hover {
    background-color: #0056b3; /* Couleur au survol */
  }
  
  
  .back-button {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
  }
  
  .back-button:hover {
    background-color: #0056b3;
  }


  .product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin: 20px 0;
}

.product-card {
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.product-card button {
  margin-top: 10px;
}

.category-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centre horizontalement */
  justify-content: center; /* Centre verticalement */
   /* Assure que le conteneur occupe toute la hauteur de la page */
  padding: 20px;
  background-color: #f4f4f9;
}

/* Titre */
.category-container h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
  text-align: center;
}

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacement entre les éléments */
  margin-bottom: 20px;
}

.filters label {
  font-size: 16px;
}

.sorting {
  display: flex;
  gap: 10px; /* Espacement entre les boutons */
  margin-bottom: 20px;
}


  